<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <!--<plugins>-->
        <!--&lt;!&ndash; 物理分页,支持mysql、oracle、db2、mssql12、mssql58 &ndash;&gt;-->
        <!--<plugin interceptor="com.inspur.lambo.framework.interceptor.PaginationInterceptor">-->
            <!--<property name="dialect" value="mysql"/>-->
        <!--</plugin>-->
        <!--&lt;!&ndash; SQL监控功能 &ndash;&gt;-->
        <!--<plugin interceptor="com.inspur.lambo.framework.interceptor.monitor.SqlMonitorPlugin">-->
            <!--<property name="enable" value="true"/>-->
        <!--</plugin>-->
    <!--</plugins>-->
    <mappers></mappers>
</configuration>
